.app-wrapper {
    width: 100vw;

    .content-wrapper {
        padding: 20px 100px;
        overflow-x: hidden;
        height: calc(100vh - 104px);
    }
}

@media screen and (max-width: 1200px) {
    .app-wrapper .content-wrapper {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 1000px) {
    .app-wrapper .content-wrapper {
        padding: 20px;
    }
}