.game-card {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size .2s ease-in;
    -moz-transition: background-size .2s ease-in;
    -ms-transition: background-size .2s ease-in;
    -o-transition: background-size .2s ease-in;
    -webkit-transition: background-size .2s ease-in;

    &:hover {
        background-size: 110%;

        &::before {
            background: rgba(0,0,0,0.3);
        }

        .name-button {
            display: flex;
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: transparent;
        transition: background .2s ease-in;
        -moz-transition: background-size .2s ease-in;
        -ms-transition: background-size .2s ease-in;
        -o-transition: background-size .2s ease-in;
        -webkit-transition: background-size .2s ease-in;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .top, .new {
        position: absolute;
        z-index: 4;
        top: 5px;
        padding: 5px 50px;
        color: var(--white);
        background: var(--green);
        cursor: default;
    }

    .top {
        left: -40px;
        transform: rotate(315deg);
    }

    .new {
        right: -40px;
        transform: rotate(45deg);
    }

    .name-button {
        position: absolute;
        top: 65%;
        left: 50%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate3d(-50%, -50%, 0);
        z-index: 2;
    }

    .name-button {
        display: none;

        .name {
            color: var(--dark-grey);
            font-size: 16px;
            margin-top: 5px;
            font-weight: 600;
            letter-spacing: 1px;
            text-align: center;
            background: rgba(255,255,255,0.8);
            padding: 5px 3px;
            width: 100%;
        }

        button {
            background: var(--green);
            border: 1px solid var(--green);
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 5px 30px;
            color: var(--white);
            cursor: pointer;
            border-radius: 8px;
            width: fit-content;
        }
    }

    img {
        height: auto;
        width: 100%;
        opacity: 0;
    }

    .jackpot {
        z-index: 3;
        width: 100%;
        background: rgba(0,0,0,0.3);
        color: var(--white);
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        padding: 8px;
        font-weight: bold;
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .game-card {
        .name-button {
            .name {
                font-size: 13px;
            }

            button {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .game-card {
        .name-button {
            .name {
                font-size: 12px;
            }

            button {
                font-size: 14px;
            }
        }
    }
}